{% extends 'panel.html' %}
{% block content %}
<style>
	*[data-plugin] { cursor: pointer }
</style>
<div class="panel panel-default">
	<div class="panel-heading" role="tab">
		<h4 class="panel-title">{{ user.name }} <small>({{ user.username }})</small></h4>
	</div>
	<form class="panel-body" method="POST">
		<div class="col-md-6">
			<div class="form-group">
		    <label for="name">{{ "user.edit.name.label" | locale }}</label>
		    <input type="text" id="name" class="form-control" name="name" value="{{ user.name }}" />
		  </div>
			<div class="form-group">
		    <label for="name">{{ "user.edit.info.label" | locale }}</label>
		    <input type="text" id="name" class="form-control" name="info" value="{{ user.info }}" />
		  </div>
			<div class="form-group">
		    <label for="username">{{ "user.edit.username.label" | locale }}</label>
		    <input type="text" id="username" class="form-control" name="username" value="{{ user.username }}" />
		  </div>
			<div class="form-group">
		    <label for="password">{{ "user.edit.password.label" | locale }}</label>
		    <input type="password" id="password" class="form-control" name="password" value="" />
		  </div>
		</div>
		<div class="col-md-6">
			<input type="hidden" id="permissions" name="permissions" value="{{ user.permissions }}">
			{% for plugin_id, views in permissions.items() %}
				<div class="row">
					<div class="col-xs-8"><h4>{{ plugin_id }}</h4></div>
					<div class="col-xs-2 text-center"><b>Allow</b></div>
					<div class="col-xs-2 text-center"><b>Deny</b></div>
				</div>
				{% for view_id, view_title in views.items() %}
					<div class="row">
						<div class="col-xs-8">{{ view_title }} <small>({{ view_id }})</small></div>
						{% set has_perm = user.has_permission(plugin_id + '.' + view_id) %}
						<div class="col-xs-2 text-center"><i class="fa fa-square{% if not has_perm %}-o{% endif %}" data-plugin="{{ plugin_id }}" data-view="{{ view_id }}" data-action="enable"></i></div>
						<div class="col-xs-2 text-center"><i class="fa fa-square{% if has_perm %}-o{% endif %}" data-plugin="{{ plugin_id }}" data-view="{{ view_id }}" data-action="disable"></i></div>
					</div>
				{% endfor %}
				{% if loop.index != (permissions | length) %}
					<hr />
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-md-12">
			<hr />
			<input type="submit" class="btn btn-primary" name="action" value="Save" />
			{% if user.user_id != me.user_id %}
				<input type="submit" class="btn btn-danger pull-right" name="action" value="Delete User" />
			{% endif %}
		</div>
	</form>
</div>
<script type="text/javascript">
	$(function() {
		user_permissions = []

		$("*[data-action=enable]").each(function() {
			plugin_id = $(this).data("plugin");
			if(plugin_id == "*")
				return;

			plugin_view = $(this).data("view");
			if(plugin_view == "*")
				return;

			if($(this).hasClass("fa-square"))
				user_permissions.push(plugin_id + "." + plugin_view);
		});

		$("*[data-plugin]").click(function(e) {
			e.stopPropagation();

			plugin_id = $(this).data("plugin");
			plugin_view = $(this).data("view");
			action = $(this).data("action");

			perm = plugin_id + "." + plugin_view;

			if(action == "enable" && user_permissions.indexOf(perm) == -1)
				user_permissions.push(perm);
			else if(action == "disable")
				user_permissions.splice(user_permissions.indexOf(perm), 1);

			$("*[data-view=" + plugin_view + "][data-action=disable]").removeClass(action == "disable" ? "fa-square-o" : "fa-square");
			$("*[data-view=" + plugin_view + "][data-action=disable]").addClass(action == "enable" ? "fa-square-o" : "fa-square");
			$("*[data-view=" + plugin_view + "][data-action=enable]").removeClass(action == "enable" ? "fa-square-o" : "fa-square");
			$("*[data-view=" + plugin_view + "][data-action=enable]").addClass(action == "disable" ? "fa-square-o" : "fa-square");

			$("#permissions").val(user_permissions.join(","));
		});
	});
</script>
{% endblock %}
