{% extends 'panel.html' %}
{% block content %}
<style>
	*[data-plugin] { cursor: pointer }
</style>
<div class="panel-group" id="users" role="tablist" aria-multiselectable="true">
	{% for user in users %}
		<div class="panel panel-default">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#users" href="#user-{{ user.username }}">
						{{ user.name }} <small>({{ user.username }})</small>
					</a>
				</h4>
			</div>
			<div id="user-{{ user.username }}" class="panel-collapse collapse" role="tabpanel">
				<form class="panel-body">
					<input type="hidden" name="username" value="{{ user.username }}">
					<div class="col-md-6">
						<div class="form-group">
					    <label for="name">Name</label>
					    <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ user.name }}">
					  </div>
						<div class="form-group">
					    <label for="password">New Password</label>
					    <input type="password" class="form-control" id="password" name="password" placeholder="New Password" value="Password">
					  </div>
					</div>
					<div class="col-md-6">
						{% for plugin_id, views in permissions.items() %}
							<div class="row">
								<div class="col-xs-8"><h4>{{ plugin_id }}</h4></div>
								<div class="col-xs-2 text-center"><b>Allow</b></div>
								<div class="col-xs-2 text-center"><b>Deny</b></div>
							</div>
							{% for view_id, view_title in views.items() %}
								<div class="row">
									<div class="col-xs-8">{{ view_title }} <small>({{ view_id }})</small></div>
									<div class="col-xs-2 text-center"><i class="fa fa-square" data-user="{{ user.username }}" data-plugin="{{ plugin_id }}" data-view="{{ view_id }}" data-action="enable"></i></div>
									<div class="col-xs-2 text-center"><i class="fa fa-square-o" data-user="{{ user.username }}" data-plugin="{{ plugin_id }}" data-view="{{ view_id }}" data-action="disable"></i></div>
								</div>
							{% endfor %}
							{% if loop.index != (permissions | length) %}
								<hr />
							{% endif %}
						{% endfor %}
					</div>
					<div class="col-md-12">
						<hr />
						<input type="submit" class="btn btn-primary" value="Save" />
					</div>
				</form>
			</div>
		</div>
	{% endfor %}
</div>
<script type="text/javascript">
	$(function() {
		all_plugins = {}
		user_permissions = {}

		$("*[data-view]").each(function() {
			plugin_id = $(this).data("plugin");
			if(plugin_id == "*")
				return;
			if(all_plugins[plugin_id] == undefined)
				all_plugins[plugin_id] = []

			plugin_view = $(this).data("view");
			if(plugin_view == "*")
				return;

			username = $(this).data("user");
			if(user_permissions[username] == undefined)
				user_permissions[username] = []
			if($(this).hasClass("fa-square"))
				user_permissions[username].push(plugin_id + "." + plugin_view);

			all_plugins[plugin_id].push(plugin_view)
		});

		$("*[data-plugin]").click(function(e) {
			e.stopPropagation();

			username = $(this).data("user");
			plugin_id = $(this).data("plugin");
			plugin_view = $(this).data("view");
			action = $(this).data("action");

			perm = plugin_id + "." + plugin_view;

			if(action == "enable" && user_permissions[username].indexOf(perm) == -1)
				user_permissions[username].push(perm);
			else if(action == "disable")
				user_permissions[username].splice(user_permissions[username].indexOf(perm), 1);

			$("*[data-user=" + username + "][data-view=" + plugin_view + "][data-action=disable]").removeClass(action == "disable" ? "fa-square-o" : "fa-square");
			$("*[data-user=" + username + "][data-view=" + plugin_view + "][data-action=disable]").addClass(action == "enable" ? "fa-square-o" : "fa-square");
			$("*[data-user=" + username + "][data-view=" + plugin_view + "][data-action=enable]").removeClass(action == "enable" ? "fa-square-o" : "fa-square");
			$("*[data-user=" + username + "][data-view=" + plugin_view + "][data-action=enable]").addClass(action == "disable" ? "fa-square-o" : "fa-square");

			console.log(user_permissions[username].join(","));

			/*$.post(window.location.pathname, { action: "get_settings", id: plugin_id }, function(data) {
				inputs = "";

			});*/
		});
	});
</script>
{% endblock %}
