{% extends 'panel.html' %}
{% block content %}
<div class="text-center">
	<h3><i class="fa fa-asterisk text-yellow"></i> Prism <span id="process">{{ "restart.stage.shutting_down" | locale }}</span>...</h3>
		{{ include_static('images/loading.svg') }}
		<p>
			{{ "restart.redirect" | locale }}
		</p>
		<p>
			{{ "restart.return.1" | locale }} <a href="{{ url_for(return_url) }}">{{ "restart.return.2" | locale }}</a> {{ "restart.return.3" | locale }}
		</p>
</div>
<script type="text/javascript">
	$(function() {
		action = 0;

		post_location = window.location.pathname
		if(post_location.indexOf(".") != -1)
			post_location = post_location.substring(0, post_location.lastIndexOf("/") + 1)

		function doCall() {
			if(action == -1)
				return;
			$.post(post_location, { action: action }, function(data) {
				if(data == "0") {
						$("#process").html("{{ "restart.stage.restarting" | locale }}");
						action = 1;
				}else if(data == "1") {
						$("#process").html("{{ "restart.stage.started" | locale }}");
						action = -1;
						setTimeout(function() {
								window.location = "{{ url_for(return_url) }}";
						}, 1000);
				}
			}).always(function() {
				setTimeout(doCall, 1000);
			});
		}

		doCall();
	})
</script>
{% endblock %}
