{% extends 'panel.html' %}
{% block title %}{% endblock %}
{% block content %}
<style>
  .content-wrapper {
    color: #FFF;
    background: #000;
  }

  #shell {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1em;

    font-family: Courier;

    overflow-y: auto;
  }

  #shell-input::before {
    content: " > ";
  }

  #shell-input input {
    width: 90%;
    margin-top: 15px;

    color: #FFF;
    background: #000;

    border: none;
    font-family: Courier;
    font-size: 1.1em;
  }
</style>
<div id="shell">
	<div id="shell-display"></div>
	<div id="shell-input" class="display:none">
		<input type="text" id="input">
	</div>
</div>
<script type="text/javascript">
  $(function() {
    var receive_output = function() {
      $.ajax("/core/terminal/stream/{{ terminal.terminal_id }}")
      .done(function(response) {
        if(response.type == "dead") {
          {% if terminal.restart %}
            {% if terminal.return_url != None %}
              swal({
                title: "Restart Pending",
                text: "This command requires prism to restart.",
                type: "warning",
                allowOutsideClick: false
              }).then(function(result) {
                window.location = "{{ url_for('core.RestartView', return_url=terminal.return_url) }}";
              });
            {% else %}
              swal({
                title: "Restart Pending",
                text: "This command requires prism to restart.",
                type: "warning",
                allowOutsideClick: false
              }).then(function(result) {
                window.location = "{{ url_for('core.RestartView') }}";
              });
            {% endif %}
          {% elif terminal.return_url != None %}
            shell_display("<br /><br /><a href='{{ url_for(terminal.return_url) }}'>Return.</a>");
          {% endif %}

          $("#shell-input").hide();
          return;
        }else if(response.type == "error") {
          swal({
            title: "Fatal Error",
            text: response.data,
            type: "error"
          });
          $("#shell-input").hide();
          return;
        }

        for(var i in response.data)
          $("#shell-display").append(response.data[i].replace('\n', '<br />'));

        setTimeout(function() {
          receive_output();
        }, 250);
      }).fail(function(xhr, status, err) {
        swal({
          title: "Fatal Error",
          text: (err == "" ? "CONNECTION FAILED" : err),
          type: "error"
        });
        $("#shell-input").hide();
      });
    };

  	var shell_display = function(printstr) {
  		$("#shell-display").append(printstr)
  		$("#shell-display").scrollTop = $("#shell-display").scrollHeight;
  	}

  	$("#input").on("keyup", function(e) {
  		if(e.which == 13) {
    		$.post("/core/terminal/stream/{{ terminal.terminal_id }}", [{"in": $(this).val()}]);
    		$(this).val("");
      }
  	});

  	$("#input").focus();

    {% if terminal.command != None %}
      swal({
        title: "",
        text: "Are you sure you wish to run the command: <code>{{ terminal.command }}</code>?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes",
        cancelButtonText: "No",
        showLoaderOnConfirm: true,
        allowOutsideClick: false,
        preConfirm: function() {
          return new Promise(function(resolve, reject) {
            $.post("/core/terminal/stream/{{ terminal.terminal_id }}", {"in": 1})
            .done(function() {
              resolve();
            });
          });
        }
      }).then(function(result) {
        receive_output();
      }, function(dismiss) {
        $.post("/core/terminal/stream/{{ terminal.terminal_id }}", {"in": 0})
        .done(function() {
          {% if terminal.return_url != None %}
            window.location = "{{ url_for(terminal.return_url) }}"
          {% else %}
            window.location = "{{ url_for('dashboard.DashboardView') }}"
          {% endif %}
        });
      });
    {% endif %}
  });
</script>
{% endblock %}
