Source: prism
Section: misc
Priority: extra
Maintainer: Alexander Lenz <fslenz@gmail.com>
Build-Depends: debhelper (>= 9.0.0),
 git,
 python (>= 3.0),
 python-setuptools,
 python3-openssl,
 python3-passlib,
 python3-psutil,
 python3-flask
Standards-Version: 3.9.3

Package: prism
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 python (>= 3.0),
 python-setuptools,
 python3-openssl,
 python3-passlib,
 python3-psutil,
 python3-flask
Description: Prism is an in-development linux server control panel.
