<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/app.js"></script>

<script type="text/javascript" src="/static/js/common.js"></script>

<script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/plugins/fastclick/fastclick.min.js"></script>

<script src="/static/plugins/select2/select2.min.js"></script>
<script src="/static/plugins/iCheck/icheck.min.js"></script>

<script src="/static/plugins/pace/pace.min.js"></script>

<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<script type="text/javascript">{{ g.sijax.get_js()|safe }}</script>

<!--<script src="/static/plugins/chartjs/Chart.min.js"></script>
<script src="/static/plugins/knob/jquery.knob.js"></script>-->
