<!DOCTYPE html>
<html>
	<head>
		{% include 'header.html' %}
	</head>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			<header class="main-header">
				<a href="{{ url_for('dashboard.index') }}" class="logo">
					<span class="logo-mini"><img src="/static/images/logo.png" width="32"></span>
					<span class="logo-lg"><b>Prism</b></span>
				</a>
				<nav class="navbar navbar-static-top" role="navigation">
					<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
						<span class="sr-only">Toggle navigation</span>
					</a>
					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav">
							<li class="dropdown notifications-menu">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-bell-o"></i>
									<span class="label label-warning">10</span>
								</a>
								<ul class="dropdown-menu">
									<li class="header">You have 10 notifications</li>
									<li>
										<ul class="menu">
											<li>
												<a href="#">
													<i class="fa fa-users text-aqua"></i> 5 new members joined today
												</a>
											</li>
										</ul>
									</li>
									<li class="footer"><a href="#">View all</a></li>
								</ul>
							</li>
							<li>
								<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
							</li>
						</ul>
					</div>
				</nav>
			</header>
			{% include 'navigation.html' %}
			<div class="content-wrapper">
				<section class="content-header"><h1>{% block title %}{% endblock %}</h1></section>
				<section class="content">
					{% block content %}{% endblock %}
				</section>
			</div>
			<footer class="main-footer">
				<div class="pull-right hidden-xs">
					<b>Version</b> {{ version }}
				</div>
				<strong>Prism</strong>
			</footer>
			{% include 'sidebar.html' %}
		</div>
		{% include 'footer.html' %}
		<script src="/static/js/app.min.js"></script>
	</body>
</html>
