<aside class="control-sidebar control-sidebar-dark">
<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
	<li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-first-order"></i></a></li>
	<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="control-sidebar-home-tab">
		<h3 class="control-sidebar-heading">{{ "prism:sidebar.updates" | locale }} <small><a href="{{ url_for('dashboard.UpdateView') }}">(dev)</a></small></h3>
		<ul class="control-sidebar-menu">
			{% if versioning.recent_releases == None %}
				<li>
					<a href="#">
						<i class="menu-icon fa fa-exclamation bg-red"></i>
						<div class="menu-info">
							<h4 class="control-sidebar-subheading">Unable to fetch</h4>
							<p>Was I rate limited?</p>
						</div>
					</a>
				</li>
			{% else %}
				{% for release in versioning.recent_releases %}
					{% if version == release.name %}
						{% if loop.index == 1 %}
							<li>
								<a href="{{ url_for('dashboard.UpdateView', name=release.name) }}">
									<i class="menu-icon fa fa-thumbs-up bg-blue"></i>
									<div class="menu-info">
										<h4 class="control-sidebar-subheading">Up to date!</h4>
										<p>{{ release.name }}</p>
									</div>
								</a>
							</li>
						{% endif %}
						{% break %}
					{% endif %}
					<li>
						<a href="{{ url_for('dashboard.UpdateView', name=release.name) }}">
							<i class="menu-icon fa fa-arrow-up bg-red"></i>
							<div class="menu-info">
								<h4 class="control-sidebar-subheading">Prism Update</h4>
								<p>{{ release.name }}</p>
							</div>
						</a>
					</li>
				{% endfor %}
			{% endif %}
		</ul>
		<!--<h3 class="control-sidebar-heading">{{ "prism:sidebar.news" | locale }}</h3>
		<ul class="control-sidebar-menu">
			<li>
				<a href="javascript::;">
					<i class="menu-icon fa fa-unlock-alt bg-blue"></i>
					<div class="menu-info">
						<h4 class="control-sidebar-subheading">Major security bug</h4>
						<p>2 days ago</p>
					</div>
				</a>
			</li>
		</ul>-->
	</div>
	<div class="tab-pane" id="control-sidebar-settings-tab">
		<div class="form-group">
			<a href="{{ url_for('core.RestartView') }}"><button class="form-control btn-danger">{{ "prism:sidebar.option.restart" | locale }}</button></a>
		</div>
		<form method="post">
			<h3 class="control-sidebar-heading">{{ "prism:sidebar.settings" | locale }}</h3>
			<div class="form-group">
				<label class="control-sidebar-subheading">
					{{ "prism:sidebar.setting.usage_statistics.name" | locale }}
					<input type="checkbox" class="pull-right" checked>
				</label>
				<p>{{ "prism:sidebar.setting.usage_statistics.info" | locale }}</p>
			</div>
		</form>
	</div>
</div>
</aside>
<div class="control-sidebar-bg"></div>
