{% extends 'panel.html' %}
{% block title_right %}<small><a href="{{ url_for('dashboard.DashboardView:edit_get') }}">{{ "dashboard.widgets.edit" | locale }}</a></small>{% endblock %}
{% block content %}
{% if widgets|length == 0 %}
	<div class="callout callout-info">
	<h4>{{ "dashboard.widgets.no.header" | locale }}</h4>
	<p>{{ "dashboard.widgets.no.body" | locale }}</p>
  </div>
{% else %}
	<div class="row">
		{% set x = 0 %}
		{% for widget_id, widget in widgets %}
			<div class="col-md-{{ 3 * widget.size }}">
				{{ widget.do_render() | safe }}
			</div>
			{% set x = x + widget.size %}
			{% if x >= 4 %}
				{% set x = 0 %}
				</div>
				<div class="row">
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
{% endblock %}
