{% extends 'panel.html' %}
{% block title %}Dashboard - Editor{% endblock %}
{% block title_right %}<small><a href="{{ url_for('dashboard.DashboardView') }}">{{ "dashboard.widgets.edit.done" | locale }}</a></small>{% endblock %}
{% block content %}
{% if widgets|length == 0 %}
	<div class="callout callout-info">
	<h4>{{ "dashboard.widgets.no.header" | locale }}</h4>
	<p>{{ "dashboard.widgets.no.body" | locale }}</p>
  </div>
{% else %}
	<style>
		#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
		.plugin-content { pointer-events: none }
	</style>
	<div id="sortable" class="row">
		{% for widget_id, widget, widget_config in widgets %}
			<div class="plugin col-md-{{ 3 * widget.size }}" data-widget="{{ widget_id }}">
				<div class="box box-solid">
					<div class="box-header with-border">
						<div class="pull-right">
							<input type="checkbox" class="shown" data-widget="{{ widget_id }}" {% if widget_config.shown %}checked{% endif %} />
						</div>
					</div>
					<div class="box-body no-padding plugin-content">
						<br />
						{{ widget.do_render() | safe }}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<script>
		$(function() {
			$(".shown").change(function() {
				$.post(window.location.pathname, { action: (this.checked ? "show" : "hide"), id: $(this).data("widget") });
			});

			$("#sortable").sortable({
				helper: "clone",
      	revert: "invalid",
				cursor: "move",
				opacity: 0.5,
				stop: function(event, ui) {
					var data = "";

					$(".plugin").each(function(i, el) {
						var ord = $(el).data("widget");
						data += ord + "=" + $(el).index() + ",";
					});

					console.log(data);

					$.post(window.location.pathname, { action: "order", data: data });
				}
			});
			$("#sortable").disableSelection();
		});
	</script>
{% endif %}
{% endblock %}
