{% extends 'panel.html' %}
{% block title %}Dashboard - Editor{% endblock %}
{% block title_right %}<small><a href="{{ url_for('dashboard.DashboardView') }}">{{ "dashboard.widgets.edit.done" | locale }}</a></small>{% endblock %}
{% block content %}
{% if widgets|length == 0 %}
	<div class="callout callout-info">
	<h4>{{ "dashboard.widgets.no.header" | locale }}</h4>
	<p>{{ "dashboard.widgets.no.body" | locale }}</p>
  </div>
{% else %}
	<style>
		#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
	</style>
	<div class="row">
		<ul id="sortable">
			{% for widget_id, widget, widget_config in widgets %}
				<li class="ui-state-default plugin" data-widget="{{ widget_id }}">
					<div class="col-md-{{ 3 * widget.size }}">
						<div class="box box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">{{ widget_id }}</h3>
								<div class="pull-right">
									<input type="checkbox" class="shown" data-widget="{{ widget_id }}" {% if widget_config.shown %}checked{% endif %} />
								</div>
							</div>
							<div class="box-body no-padding">
								{{ widget.do_render() | safe }}
							</div>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	<script>
		$(function() {
			$(".shown").change(function() {
				$.post(window.location.pathname, { action: (this.checked ? "show" : "hide"), id: $(this).data("widget") });
			});

			$("#sortable").sortable({
				stop: function(event, ui) {
					var data = "";

					$(".plugin").each(function(i, el) {
						var ord = $(el).data("widget");
						data += ord + "=" + $(el).index() + ",";
					});

					console.log(data);

					$.post(window.location.pathname, { action: "order", data: data });
				}
			});
			$("#sortable").disableSelection();
		});
	</script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.js"></script>
{% endif %}
{% endblock %}
