{% extends 'panel.html' %}
{% block title %}Dashboard - Editor{% endblock %}
{% block title_right %}<small><a href="{{ url_for('dashboard.DashboardView') }}">{{ "dashboard.widgets.edit.done" | locale }}</a></small>{% endblock %}
{% block content %}
{% if widgets|length == 0 %}
	<div class="callout callout-info">
	<h4>{{ "dashboard.widgets.no.header" | locale }}</h4>
	<p>{{ "dashboard.widgets.no.body" | locale }}</p>
  </div>
{% else %}
	<style>
		.plugin-hidden { opacity: .65 }
		.plugin-content { pointer-events: none }
	</style>
	<div id="sortable" class="row">
		{% for widget_id, widget, widget_config in widgets %}
			<div class="col-md-{{ 3 * widget.size }} plugin {% if not widget_config.shown %}plugin-hidden{% endif %}" data-widget="{{ widget_id }}">
				<!--<div class="box box-solid">
					<div class="box-header with-border">
						<div class="pull-right">
							<input type="checkbox" class="shown" data-widget="{{ widget_id }}" {% if widget_config.shown %}checked{% endif %} />
						</div>
					</div>
					<div class="box-body no-padding plugin-content">
						<br />-->
					<div class="plugin-content">
						{{ widget.do_render() }}
					</div>
					<!--</div>
				</div>-->
			</div>
		{% endfor %}
	</div>
	<script>
		$(function() {
			var lastMouseUp = 0, lastMouseDown = 0;
			$('.plugin').bind('mouseup mousedown', function(e) {
					if(e.which != 1)
						return;

			    var ms = new Date().getTime();
			    e.type == 'mousedown' ? lastMouseDown = ms : lastMouseUp = ms;

			    if(e.type != 'mousedown' && (Math.abs(lastMouseUp - lastMouseDown) < 300)) {
						let isHidden = $(this).hasClass('plugin-hidden');

						if(isHidden)
							$(this).removeClass('plugin-hidden')
						else
							$(this).addClass('plugin-hidden')

						$.post(window.location.pathname, { action: (isHidden ? "show" : "hide"), id: $(this).data("widget") });
					}
			});

			$("#sortable").sortable({
				helper: "clone",
      	revert: "invalid",
				cursor: "move",
				opacity: 0.5,
				stop: function(event, ui) {
					var data = "";

					$(".plugin").each(function(i, el) {
						var ord = $(el).data("widget");
						data += ord + "=" + $(el).index() + ",";
					});

					$.post(window.location.pathname, { action: "order", data: data });
				}
			});
			$("#sortable").disableSelection();
		});
	</script>
{% endif %}
{% endblock %}
