{% extends 'panel.html' %}
{% block title %}Dashboard<div class="pull-right"><small><a href="{{ url_for('dashboard.edit') }}">Edit Widgets</a></small></div>{% endblock %}
{% block content %}
{% if widgets|length == 0 %}
	<div class="callout callout-info">
	<h4>No widgets</h4>
	<p>You do not have any plugins installed that add widgets.</p>
  </div>
{% else %}
	{% for widget_id, widget in widgets %}
		<div class="row" id="plugin-{{ widget_id }}">
			{{ widget()|safe }}
		</div>
	{% endfor %}
{% endif %}
{% endblock %}
