{% extends 'panel.html' %}
{% block title %}Dashboard<div class="pull-right"><small><a href="{{ url_for('dashboard.edit') }}">{{ "dashboard.widgets.edit" | locale }}</a></small></div>{% endblock %}
{% block content %}
{% if widgets|length == 0 %}
	<div class="callout callout-info">
	<h4>{{ "dashboard.widgets.no.header" | locale }}</h4>
	<p>{{ "dashboard.widgets.no.body" | locale }}</p>
  </div>
{% else %}
	{% for widget_id, widget in widgets %}
		<div class="row" id="plugin-{{ widget_id }}">
			{{ widget.do_render() | safe }}
		</div>
	{% endfor %}
{% endif %}
{% endblock %}
